*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.9);
  transition: all 0.3s;
}
a:hover {
  text-decoration: underline;
}

p {
  font-size: 1.4rem;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
}

.container {
  background-color: black;
  display: grid;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] 8fr [center-end] minmax(3rem, 1fr) [full-end];
}

.bg-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(1, 1, 1, 0.8);
  z-index: 800;
}

.header {
  z-index: 900;
  position: fixed;
  grid-column: full-start/full-end;
  display: grid;
  grid-gap: 3rem;
  justify-self: center;
  justify-content: space-between;
  align-content: center;
  grid-template-columns: max-content;
  padding: 3rem 3rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 900px) {
  .header {
    display: none;
  }
}
.header__nav {
  align-self: center;
}
.header__logo {
  max-width: 20rem;
  align-self: center;
}
.header__contacts {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
}

.link:hover, .link active {
  color: gray;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 900;
  justify-self: center;
  padding: 1rem 0;
  grid-column: full-start/full-end;
  justify-self: center;
  display: flex;
  gap: 3rem;
}
@media only screen and (max-width: 900px) {
  .footer {
    display: none;
  }
}

.contacts {
  display: flex;
  gap: 1rem;
}
.contacts__items-box {
  display: flex;
  gap: 1rem;
}
.contacts__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-weight: 500;
  text-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.9);
}
.contacts__item {
  font-size: 1.4rem;
  text-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 900px) {
  .contacts {
    display: flex;
    gap: 1rem;
    margin-left: 3.5rem;
  }
  .contacts__items-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .contacts__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 500;
  }
  .contacts__item {
    font-size: 1.8rem;
  }
}
.nav {
  width: 100%;
}
.nav__list {
  transition: 0.3s all;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-content: center;
  list-style-type: none;
  grid-gap: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 470px) {
  .nav__list {
    grid-gap: 1rem;
  }
}
.nav__item {
  display: block;
}
.nav__item a:link, .nav__item a:visited {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: white;
  transition: all 0.3s;
}
.nav__item a:hover, .nav__item active {
  color: gray;
}

.title-1 {
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 470px) {
  .title-1 {
    font-size: 2rem;
  }
}

.title-2 {
  font-size: 20vw;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
@media only screen and (max-width: 470px) {
  .title-2 {
    font-size: 30vw;
  }
}

.title-3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.title-4 {
  font-size: 2rem;
  font-weight: 500;
}

.text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: justify;
}

.bold {
  font-weight: 700;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.mb3rem {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 470px) {
  .mb3rem {
    margin-bottom: 1rem;
  }
}

.mb1rem {
  margin-bottom: 1rem;
}

.small {
  font-size: 1.2rem;
}

.portfolio {
  padding-bottom: 10rem;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-rows: repeat(2, max-content);
}
@media only screen and (max-width: 470px) {
  .portfolio {
    grid-column: full-start/full-end;
  }
}
.portfolio__title {
  text-align: center;
  padding-bottom: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.projects {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: row dense;
  grid-gap: 6rem 3rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1201px) {
  .projects {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5rem 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7rem 1rem;
  }
}
@media only screen and (max-width: 470px) {
  .projects {
    grid-gap: 7rem 0.5rem;
  }
}

.project {
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.project__img {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all;
}
@media only screen and (max-width: 900px) {
  .project__img {
    margin-bottom: 1rem;
  }
}
.project__img:hover {
  transform: scale(1.01);
}
.project__title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.35;
  margin-bottom: 0.5rem;
}
.project__type {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.35;
}
.project_video {
  grid-column: span 4;
}
.project_photo {
  grid-column: span 2;
}
@media only screen and (max-width: 470px) {
  .project_photo {
    grid-column: span 4;
  }
}
@media only screen and (max-width: 470px) {
  .project__textarea {
    margin-left: 2rem;
  }
}

.main {
  background: url(img/bg.jpg) cover;
  margin-bottom: 5rem;
  grid-column: full-start/full-end;
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 0 6rem;
  display: grid;
  align-content: center;
  justify-content: center;
  transition: 0.3s all;
}
.main__wrapper {
  position: relative;
  z-index: 10;
  align-content: center;
  transition: 0.3s all;
}
.main__second-wrapper {
  display: flex;
  justify-content: space-between;
  transition: 0.3s all;
}
@media only screen and (max-width: 470px) {
  .main__second-wrapper {
    flex-direction: column;
  }
}
.main__running {
  font-size: 1.2rem;
}
.main__youtube {
  transition: 0.5s all;
  margin-right: 3rem;
}
@media only screen and (max-width: 470px) {
  .main__youtube {
    width: 20%;
    height: auto;
  }
}
.main__youtube:hover {
  transform: scale(1.1);
}
.main__maintext {
  animation: fadeIn 2s ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}
.main__maintext h1 {
  text-align: right;
}
.main__maintext h2 {
  opacity: 1;
  text-align: center;
}
.main__showreel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__text {
  font-size: 2rem;
  font-weight: 300;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  object-fit: cover;
  z-index: 1;
}

.bg-grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(1, 1, 1, 0.7);
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.position-fixed {
  position: fixed;
  z-index: 100;
}

.display-none {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.video-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  grid-column: full-start/full-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player {
  position: fixed;
  z-index: 900;
}

.carousel-container {
  position: absolute;
  top: 0;
  rigth: 0;
  width: 100%;
  height: 100%;
  grid-column: full-start/full-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  position: fixed;
  z-index: 900;
  width: 80%;
  height: 80%;
  transition: 0.3s all;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide img {
  display: flex;
  width: auto;
  height: 100%;
}
@media only screen and (max-width: 470px) {
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
}

.burger-menu__button {
  display: none;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 999;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media only screen and (max-width: 900px) {
  .burger-menu__button {
    display: block;
  }
}

.burger-menu__button:hover .burger-menu__lines {
  filter: brightness(0.7);
}

.burger-menu__button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu__lines::before,
.burger-menu__lines::after,
.burger-menu__lines {
  position: absolute;
  z-index: 999;
  width: 2.5rem;
  height: 0.3rem;
  background-color: black;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
  content: "";
  top: -0.8rem;
}

.burger-menu__lines::after {
  content: "";
  top: 0.8rem;
}

.burger-menu_active .burger-menu__lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu__nav {
  padding-top: 8rem;
  position: fixed;
  top: 0;
  z-index: 901;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100%;
  background-color: black;
  overflow-y: auto;
  right: -150%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.burger-menu_active .burger-menu__nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu__link {
  padding: 1.2rem 3rem;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
  color: black;
  border-bottom: 0.1rem solid white;
}

.burger-menu__link:first-child {
  border-top: 0.1rem solid white;
}

.burger-menu__link:hover {
  filter: brightness(0.9);
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
}

.burger-menu_active .burger-menu__overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=style.css.map */