$color-white: white
$color-black: black
$color-gray: gray
    
*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

a
    color: $color-white
    text-decoration: none
    text-shadow: 0px 0px 10px rgba(255,  255,  255, 0.5)
    transition: all .3s

    &:hover
        text-decoration: underline

p
    font-size: 1.4rem    


html
    font-size: 10px
    font-family: 'Montserrat', sans-serif
    font-weight: 300
    color: $color-white

.container
    background-color: $color-black

    display: grid
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] 4fr [center-end] minmax(6rem, 1fr) [full-end]   
    //grid-template-rows: repeat(6, min-content)  