$color-white: white
$color-black: black
$color-gray: gray
    
@mixin respond($breakpoint)
    @if $breakpoint == phone
        @media only screen and (max-width: 470px) 
            @content

    @if $breakpoint == tab-port
        @media only screen and (max-width: 900px) 
            @content                  
    
    @if $breakpoint == tab-land
        @media only screen and (max-width: 1201px) 
            @content

    @if $breakpoint == big-screen
        @media only screen and (min-width: 1800px) 
            @content

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

a
    color: $color-white
    text-decoration: none
    text-shadow: 0px 0px 1rem rgba(0,  0,  0, 0.9)
    transition: all .3s

    &:hover
        text-decoration: underline

p
    font-size: 1.4rem    


html
    font-size: 10px
    font-family: 'Montserrat', sans-serif
    font-weight: 300
    color: $color-white

.container
    background-color: $color-black

    display: grid
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] 8fr [center-end] minmax(3rem, 1fr) [full-end]   
    //grid-template-rows: repeat(6, min-content)  

.bg-black
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    background: rgba(1, 1, 1, 0.8)
    z-index: 801      