.header
    
    @include respond(tab-port)
        display: none
    
    z-index: 900
    position: fixed
    //left:50%
    //margin-left:-25%
    
    //grid-column: center-start / center-end
    grid-column: full-start / full-end
    
    display: grid
    grid-gap: 3rem

    justify-self: center

    justify-content: space-between
    align-content: center
    grid-template-columns: max-content

    padding: 3rem 3rem 

    margin-bottom: 1rem

    //border-bottom: 0.3rem solid $color-white

    &__nav
        align-self: center

    &__logo
        max-width: 20rem   
        align-self: center 

    &__contacts
        align-self: center
        text-align: center
        text-transform: uppercase
        text-decoration: none
        font-weight: 500
        font-size: 1.8rem
        line-height: 2rem

.link
    &:hover, active 
        color: $color-gray      
