.portfolio
    grid-column: center-start / center-end
    background-color: $color-white
    
    display: grid
    grid-template-rows: 90vh repeat(2, max-content)

    &__showreel
        justify-self: center
        width: 100%
        height: 100%
        //width: 90vw
        //height: calc(90vw * 9 / 16)
        padding-bottom: 1rem
        margin-bottom: 3rem

        border-bottom: 0.3rem solid black

    &__title
        text-align: center
        padding-bottom: 3rem
        border-bottom: 0.3rem solid black
        margin-top: 3rem
        margin-bottom: 3rem    