.title-1
    font-size: 2.4rem
    @include respond(phone)
        font-size: 1.8rem
    font-weight: 300
    text-transform: uppercase

.title-2
    //font-size: 51.2rem
    font-size: 20vw
    @include respond(phone)
        font-size: 30vw
    font-weight: 700
    line-height: 1.2
    text-transform: uppercase

.title-3
    font-size: 2.8rem
    font-weight: 500

.title-4
    font-size: 2.0rem
    font-weight: 500            

.text
    font-size: 1.6rem    
    line-height: 2.4rem 
    text-align: justify   

.bold
    font-weight: 700  

.hidden
    display: none    

.center
    text-align: center

.mb3rem
    margin-bottom: 3rem 
    @include respond(phone)
        margin-bottom: 1rem

.mb1rem
    margin-bottom: 1rem     

.small
    font-size: 1.2rem           

.black-bg
    //background-color: $color-black    