.video-container
    position: absolute
    top: 0
    rigth: 0
    width: 100%
    height: 100%
    grid-column: full-start / full-end

    display: grid
    justify-items: center
    align-items: center

.video-player
    position: fixed
    z-index: 999

    //justify-self: center    